:root {
    --brown: #665245;
    --green: #848644;
    --beige: #CBBC91;
    --ligth-beige: #F2E8DA;
    --ligth-blue: #A0E4D7;
    --orange: #FF843D;
    --ligth-grey: #F7F7F7;
    --xs: 14px;
    --sm: 16px;
    --md: 18px;
    --lg: 20px;
    --xl: 24px;
}