.products-container {
    width: 90%;
    height: auto;
    position: absolute;
    top: 260px;
    align-self: center;
}
.products-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    column-gap: 20px;
}