.offer {
    background-color: var(--ligth-grey);
    border-radius: 8px;
    height: 40px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--brown);
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin-bottom: 10px;
}
.secondary-button {
    height: 100%;
}