.display-product {
    background-color: var(--ligth-grey);
    border-radius: 8px;
    width: 45%;
    height: max-content;
    display: flex;
}
.product {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-areas: 'image product-info' 'image estimated-value';
    column-gap: 20px;
    place-items: center;
    text-align: left;
}
.image-container {
    grid-area: image;

}
.info-product {
    color: var(--brown);
    grid-area: product-info;
    width: 100%;
}
.estimated-value {
    grid-area: estimated-value;
    justify-items: center;
    width: 100%;
    color: var(--orange);
    font-size: var(--lg);
    margin-bottom: 8px;
    text-align: right;
}